@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0F1B21;
    font-family: "Outfit", sans-serif;
    text-align: center;
}
h1{
    color: #ffffff;
    margin: 100px 0px;
}
h1 span{
    color: #26FFCB;
}
.clock{
    font-size: 42px;
    color: #26FFCB;
}
.clock span{
    padding: 20px 30px;
    background: #1F3540;
    border-radius: 5px;
}